{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='ck_passwords.js') }}"></script>

<h3>Change Password</h3>
<h3>User: {{frm_userid}}</h3>
<h5>Email: {{frm_email}}</h5>
In the form below,
<ul>
  <li>Enter your current password.</li>
  <li>Enter your new password twice.  
		Passwords must be between 6 and 16 characters in length and contain no spaces.  
		No other validation is performed.</li>
</ul>
<div class=form>
<form method="POST" name=submit_form action="/change_password" onSubmit="return validateTwoPasswords()">
		<label><b>Current Password</b></label>
		<input type="password" value="{{frm_password}}" name="password" required>
		<br>
		<label><b>Password (1st entry)</b></label>
		<input type="password" value="{{frm_password1}}" name="password1" required>
		<br>
		<label><b>Password (2nd entry)</b></label>
		<input type="password" value="{{frm_password2}}" name="password2" required>
		<br>
		<button type="submit">Submit</button>
</form>
</div>

<br>

{% endblock %}
